<mat-card>
  <mat-card-title >Контакты</mat-card-title>
  <mat-card-content>
    Наша компания - развивается и достигла больших результатов. Наша компания - развивается и достигла больших результатов.Наша компания - развивается и достигла больших результатов.Наша компания - развивается и достигла больших результатов.Наша компания - развивается и достигла больших результатов.Наша компания - развивается и достигла больших результатов.Наша компания - развивается и достигла больших результатов.Наша компания - развивается и достигла больших результатов.Наша компания - развивается и достигла больших результатов.Наша компания - развивается и достигла больших результатов.
    <app-contacts></app-contacts>
  </mat-card-content>
</mat-card>
