<mat-toolbar>
  <mat-toolbar-row>
    <img style="margin: 15px" height="20px" src="../assets/лого%20iq.png">
    <span style="flex: 1 1 auto"></span>
    <div class="computer_only">
    <button routerLink="" mat-button>
      <span style="font-size: 18px; color: red; font-weight: bold">♧</span> <span class="name">Главная</span>
    </button>
    <button routerLink="subj" mat-button>
      <span style="font-size: 18px; color: red; font-weight: bold">♥</span> <span class="name">Субъекты РФ</span>
    </button>
    <button routerLink="work" mat-button>
      <span style="font-size: 18px; color: red; font-weight: bold">♤</span> <span class="name">Условия работы</span>
    </button>
    <button routerLink="about" mat-button>
      <span style="font-size: 18px; color: red; font-weight: bold">♢</span> <span class="name">Контакты</span>
    </button>
    </div>
    <span class="mobile_only">JJ</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
  <div style="margin-top: 20px">
    <app-ask ></app-ask>
  </div>
  <div style="margin-top: 20px">
    <app-about ></app-about>
  </div>
  <div style="margin-top: 20px">
    <app-contacts></app-contacts>
  </div>
</div>

