<mat-progress-bar *ngIf="dataService.loading" color="primary" mode="indeterminate"></mat-progress-bar>

<mat-card>
  <mat-card-title>Субъекты Российской Федерации</mat-card-title>
  <div *ngFor="let i of dataService.listOfObjects; let n = index">
    <a style="text-decoration: none; user-select: none; color: black" [routerLink]="n"><h3>{{i.title}}:</h3></a>
    <a style="text-decoration: none; user-select: none" *ngFor="let j of i.sub; let m = index" [routerLink]="n + '/' + m">{{j.title}} ><br></a>
    <a style="text-decoration: none; user-select: none" [routerLink]="'/add/' + n">Добавить город ><br></a>
  </div>
  <div style="margin-top: 20px">
    <a style="text-decoration: none; user-select: none" routerLink="/add">Добавить область ><br></a>
  </div>

  <button style="margin-top: 13px" mat-raised-button (click)="goBack()" color="primary">Назад</button>
</mat-card>
