<mat-card>
  <mat-card-title>Задайте вопрос</mat-card-title>
  <mat-card-content>
    <form >
      <mat-form-field>
        <input matInput placeholder="Label 1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Label 2">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Label 3">
      </mat-form-field>
      <mat-form-field>
        <textarea  placeholder="Label 4" matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Отправить</button>
    </form>
  </mat-card-content>
</mat-card>
