/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  user-select: none;
}
html, body { height: 100%; font-family: Roboto; }
body { margin: 0; }
.mobile_only {
  display: none;
}
@media (max-width: 800px) {
  .computer_only {display: none}
  .mobile_only {display: block}
}

a {
  color: black;
  user-select: none;
  text-decoration: none;
}
mat-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19)!important;
}
mat-card mat-card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)!important;

}
